
/* Slide in animation */
@-moz-keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@-moz-keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@-webkit-keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@-moz-keyframes bodyslidein {
    0% {
        left: 0;
    }

    100% {
        margin-left: 200px;
    }
}

@-webkit-keyframes bodyslidein {
    0% {
        left: 0;
    }

    100% {
        left: 0
    }
}

@keyframes bodyslidein {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 200px;
    }
}

@-moz-keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0;
    }
}
.material-icons.orange600 {
    color: #c9cfd4;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.chartjs-hidden-iframe {
    height: 100% !important;
}

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

h3 {
    font-size: 1.5vw;
}
h4 {
    font-size: 1.2vw;
}
h2 {
    font-size: 1.8vw;
}
p {
    font-size: 0.8vw;
}
pre {
    font-size: 0.7vw;
}
label {
    font-size: 0.9vw;
}
input {
    font-size: 0.9vw;
}
small {
    font-size: 0.7vw;
}



.dropdown-item-inline {
    display: block;
    width: 100%;
    padding: 0rem 0.1rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: #2d3139;
    border: 0
}

    .dropdown-item-inline:focus, .dropdown-item-inline:hover {
        color: #fff;
        background-color: #375a7f
    }

    .dropdown-item-inline.active, .dropdown-item-inline:active {
        color: #fff;
        text-decoration: none;
        background-color: #375a7f
    }

    .dropdown-item-inline.disabled, .dropdown-item-inline:disabled {
        color: #adb5bd;
        pointer-events: none;
        background-color: transparent
    }



.switch {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 26px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    background-color: rgba(var(--bs-danger-rgb));
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 1px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: rgba(var(--bs-success-rgb));
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(62px);
    -ms-transform: translateX(62px);
    transform: translateX(62px);
}

/*------ ADDED CSS ---------*/
.on {
    display: none;
}

.on, .off {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }



/* Calendar CSS */
.calendar-day {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 80px;
}

.calendar-table {
    margin: 0 auto;
    width: 700px;
}

.selected {
    background-color: #eee;
}

.outside .date {
    color: #ccc;
}

.timetitle {
    white-space: nowrap;
    text-align: right;
}

.event {
    border-top: 1px solid #b2dba1;
    border-bottom: 1px solid #b2dba1;
    background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
    background-repeat: repeat-x;
    color: #3c763d;
    border-width: 1px;
    font-size: .75em;
    padding: 0 .75em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}

    .event.begin {
        border-left: 1px solid #b2dba1;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .event.end {
        border-right: 1px solid #b2dba1;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .event.all-day {
        border-top: 1px solid #9acfea;
        border-bottom: 1px solid #9acfea;
        background-image: linear-gradient(to bottom, #d9edf7 0px, #b9def0 100%);
        background-repeat: repeat-x;
        color: #31708f;
        border-width: 1px;
    }

        .event.all-day.begin {
            border-left: 1px solid #9acfea;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .event.all-day.end {
            border-right: 1px solid #9acfea;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .event.clear {
        background: none;
        border: 1px solid transparent;
    }

    
.table-tight > thead > tr > th,
.table-tight > tbody > tr > th,
.table-tight > tfoot > tr > th,
.table-tight > thead > tr > td,
.table-tight > tbody > tr > td,
.table-tight > tfoot > tr > td {
    padding-left: 0;
    padding-right: 0;
}

.table-tight-vert > thead > tr > th,
.table-tight-vert > tbody > tr > th,
.table-tight-vert > tfoot > tr > th,
.table-tight-vert > thead > tr > td,
.table-tight-vert > tbody > tr > td,
.table-tight-vert > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0;
}