@media (min-width: 2080px) {
    body {
        padding: 0px;
    }

    .note {
        padding: 25px 0;
    }
}

/* Slide in animation */
@-moz-keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@keyframes slidein {
    0% {
        left: -200px;
    }

    100% {
        left: 0;
    }
}

@-moz-keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@-webkit-keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@keyframes slideout {
    0% {
        left: 0;
    }

    100% {
        left: -200px;
    }
}

@-moz-keyframes bodyslidein {
    0% {
        left: 0;
    }

    100% {
        margin-left: 200px;
    }
}

@-webkit-keyframes bodyslidein {
    0% {
        left: 0;
    }

    100% {
        left: 0
    }
}

@keyframes bodyslidein {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 200px;
    }
}

@-moz-keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes bodyslideout {
    0% {
        margin-left: 200px;
    }

    100% {
        margin-left: 0;
    }
}
.material-icons.orange600 {
    color: #c9cfd4;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.chartjs-hidden-iframe {
    height: 100% !important;
}

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

h3 {
    font-size: 1.5vw;
}
h4 {
    font-size: 1.2vw;
}
h2 {
    font-size: 1.8vw;
}
p {
    font-size: 0.8vw;
}
pre {
    font-size: 0.7vw;
}
label {
    font-size: 0.9vw;
}
input {
    font-size: 0.9vw;
}