@model PersonalFinanceFrontEnd.Models.Bank


<form asp-action="Bank_Edit" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" />
        <div class="form-row">
            <h4>Modifica conto</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="BankName">Banca</label>
                <input type="text" class="form-control" asp-for="BankName" style="background-color: #444">
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="Input_value">Saldo attuale (in €)</label>&nbsp;&nbsp;<span class="material-icons md-24 orange600" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="E' possibile modificare il saldo del conto solo dalla sezione EasyUpdate.">info</span>
                <input type="text" class="form-control" readonly asp-for="Input_value" style="background-color: #444" placeholder="€">
                <span asp-validation-for="Input_value" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="recipient-name" class="col-form-label" asp-for="Iban">IBAN</label>
                <input type="text" class="form-control" asp-for="Iban" style="background-color: #444">
                <span asp-validation-for="Iban" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="message-text" class="col-form-label" asp-for="BankNote">Note:</label>
                <textarea class="form-control" id="message-text" asp-for="BankNote" style="background-color: #444"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiorna</button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
    });
</script>
