@model WeatherReportsFrontEnd.Models.Bank


<form asp-action="Bank_Add" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="BankName">Banca</label>
                <input type="text" class="form-control" asp-for="BankName" style="background-color: #444">
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="BankValue">Saldo attuale (in €)</label>
                <input type="number" class="form-control" asp-for="BankValue" placeholder="€" style="background-color: #444">
                <span asp-validation-for="BankValue" class="text-danger"></span>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12">
                <label for="recipient-name" class="col-form-label" asp-for="Iban">IBAN</label>
                <input type="text" class="form-control" asp-for="Iban" style="background-color: #444">
                <span asp-validation-for="Iban" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="message-text" class="col-form-label" asp-for="BankNote">Note:</label>
                <textarea class="form-control" id="message-text" asp-for="BankNote" style="background-color: #444"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiungi</button>
        </div>
    </div>
</form>
