@model PersonalFinanceFrontEnd.Models.Budget_Calc


<form asp-action="Budget_Calc" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <h5>Data di riferimento</h5>
        <span style="white-space:nowrap">           
            <input type="date" class="form-control" id="theDate" asp-for="Future_Date" style="background-color: #444; display: inline-flex; width: 60%" value="gg/mm/YYY">
        </span>
        <br /><br />
        <span style="white-space:nowrap">
            <label class="col-form-label" asp-for="Corrective_Item_0">Fattore correttivo 1:  &nbsp;&nbsp;</label>
            <input type="number" step="0.01" class="form-control" asp-for="Corrective_Item_0" style="background-color: #444; display: inline-flex; width: 60%" value="" placeholder="€">
        </span>
        <span style="white-space:nowrap">
            <label class="col-form-label" asp-for="Corrective_Item_1">Fattore correttivo 2:  &nbsp;&nbsp;</label>
            <input type="number" step="0.01" class="form-control" asp-for="Corrective_Item_1" style="background-color: #444; display: inline-flex; width: 60%" value="" placeholder="€">
        </span>
        <span style="white-space:nowrap">
            <label class="col-form-label" asp-for="Corrective_Item_2">Fattore correttivo 3:  &nbsp;&nbsp;</label>
            <input type="number" step="0.01" class="form-control" asp-for="Corrective_Item_2" style="background-color: #444; display: inline-flex; width: 60%" value="" placeholder="€">
        </span>
        <span style="white-space:nowrap">
            <label class="col-form-label" asp-for="Corrective_Item_3">Fattore correttivo 4:  &nbsp;&nbsp;</label>
            <input type="number" step="0.01" class="form-control" asp-for="Corrective_Item_3" style="background-color: #444; display: inline-flex; width: 60%" value="" placeholder="€">
        </span>        
    </div>
    <div class="modal-footer">
        <br />
        <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Calcola</button>
    </div>
   

</form>


@section scripts {
    <script>
        $(document).ready(function () {
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day + "T00:00";
            $("#theDate").attr("value", today);
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
        });
    </script>
}