@model PersonalFinanceFrontEnd.Models.Credit

<form asp-action="Credit_Edit" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" />
        <div class="form-row">
            <h4>Modifica credito</h4>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label for="recipient-name" class="col-form-label" asp-for="CredTitle">Titolo <font color="red">*</font></label>
                <input type="text" class="form-control" asp-for="CredTitle" style="background-color: #444" required>
                <span asp-validation-for="CredTitle" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label" asp-for="CredDateTime">Data inserimento <font color="red">*</font></label>
                <input type="date" class="form-control" asp-for="CredDateTime" style="background-color: #444" required>
                <span asp-validation-for="CredDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label" asp-for="DebName">Debitore</label>
                <input type="text" class="form-control" asp-for="DebName" style="background-color: #444">
                <span asp-validation-for="DebName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label" asp-for="Input_value">Importo <font color="red">*</font></label>
                @if (Model.FromTrs == 0)
                {
                    <input type="number" step="0.01" class="form-control" asp-for="Input_value" placeholder="€" style="background-color: #444" required>
                } else if (Model.FromTrs == 1)
                {
                    <input type="number" step="0.01" class="form-control" readonly asp-for="Input_value" placeholder="€" style="background-color: #444">
                }
                <span asp-validation-for="Input_value" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label" asp-for="PrevDateTime">Data restituzione <font color="red">*</font></label>
                <input type="date" class="form-control" asp-for="PrevDateTime" style="background-color: #444" required>
                <span asp-validation-for="PrevDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="message-text" class="col-form-label" asp-for="CredNote">Note:</label>
                <textarea class="form-control" id="message-text" asp-for="CredNote" style="background-color: #444"></textarea>
            </div>
        </div>
        <input type="hidden" class="form-control" readonly asp-for="CredCode" style="background-color: #444">
        <input type="hidden" class="form-control" asp-for="Exp_ID" style="background-color: #444">
        <input type="hidden" class="form-control" asp-for="FromTrs" style="background-color: #444">
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiorna</button>
        </div>
    </div>
</form>