@model PersonalFinanceFrontEnd.Models.Debit

<form asp-action="Debit_Edit" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" />
        <div class="form-row">
            <h4>Modifica debito</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="DebTitle">Titolo <font color="red">*</font></label>
                <input type="text" class="form-control" asp-for="DebTitle" style="background-color: #444">
                <span asp-validation-for="DebTitle" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="CredName">Creditore</label>
                <input type="text" class="form-control" asp-for="CredName" style="background-color: #444">
                <span asp-validation-for="CredName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            @if(Model.Multiplier == 0)
            {
                <div class="col-md-6">
                    <label for="recipient-name" class="col-form-label" asp-for="Input_value">Importo <font color="red">*</font></label>
                    @if (Model.FromTrs == 0)
                    {
                        <input type="text" class="form-control" asp-for="Input_value" placeholder="€" style="background-color: #444" required>
                    } else if (Model.FromTrs == 1)
                    {
                        <input type="text" class="form-control" readonly asp-for="Input_value" placeholder="€" style="background-color: #444" required>
                    }
                    <span asp-validation-for="Input_value" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label for="recipient-name" class="col-form-label" asp-for="DebDateTime">Data scadenza <font color="red">*</font></label>
                    <input type="date" class="form-control" asp-for="DebDateTime" style="background-color: #444" required>
                    <span asp-validation-for="DebDateTime" class="text-danger"></span>
                </div>
            }
            @if (Model.Multiplier != 0)
            {
                <div class="col-md-6">
                    <label for="recipient-name" class="col-form-label" asp-for="RtNum">N° di rate totali <font color="red">*</font></label>
                    <input type="number" class="form-control" asp-for="RtNum" style="background-color: #444" required>
                    <span asp-validation-for="RtNum" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label for="recipient-name" class="col-form-label" asp-for="RtPaid">N° di rate pagate <font color="red">*</font></label>
                    <input type="number" class="form-control" asp-for="RtPaid" style="background-color: #444" required>
                    <span asp-validation-for="RtPaid" class="text-danger"></span>
                </div>
            }
        </div>
        @if(Model.Multiplier != 0)
        {               
            <div class="row">
                <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label" asp-for="Input_value_remain">Importo Residuo <font color="red">*</font></label>
                    <input type="number" step="0.01" class="form-control" asp-for="Input_value_remain" style="background-color: #444" required>
                    <span asp-validation-for="Input_value_remain" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label" asp-for="Multiplier">Ogni n <font color="red">*</font></label>
                    <input type="number" class="form-control" asp-for="Multiplier" style="background-color: #444"required>
                    <span asp-validation-for="Multiplier" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label" asp-for="RtFreq">Frequenza <font color="red">*</font></label>
                    <select class="form-control" id="RtFreq" name="RtFreq" asp-for="RtFreq" style="background-color: #444" required>
                        <option>-- Seleziona --</option>
                        <option>Mesi</option>
                        <option>Anni</option>
                    </select>
                    <span asp-validation-for="RtFreq" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" class="form-control" asp-for="DebDateTime" style="background-color: #444">
            <input type="hidden" class="form-control" asp-for="DebValue" style="background-color: #444">
        } else
        {
            <input type="hidden" class="form-control" asp-for="RtNum" style="background-color: #444">
            <input type="hidden" class="form-control" asp-for="RtPaid" style="background-color: #444">
            <input type="hidden" class="form-control" asp-for="Multiplier" style="background-color: #444">
            <input type="hidden" class="form-control" asp-for="RtFreq" style="background-color: #444">
            <input type="hidden" class="form-control" asp-for="RemainToPay" style="background-color: #444">

        }
        <div class="row">
            <div class="col-md-12">
                <label for="message-text" class="col-form-label" asp-for="DebNote">Note:</label>
                <textarea class="form-control" id="message-text" asp-for="DebNote" style="background-color: #444"></textarea>
            </div>
        </div>
        <input type="hidden" class="form-control" readonly asp-for="DebCode" style="background-color: #444">
        <input type="hidden" class="form-control" asp-for="Exp_ID" style="background-color: #444">
        <input type="hidden" class="form-control" asp-for="DebInsDate" style="background-color: #444">
        <input type="hidden" class="form-control" asp-for="FromTrs" style="background-color: #444">
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiorna</button>
        </div>
    </div>
</form>