@model ViewModel

<h2>Scadenze</h2>
<br />


<!-- Modal ADD-->
<div class="row" style="margin: 0 auto;">
    <div class="col-md-4">
        <div class="card shadow p-3 border-light mb-3" style="margin: 0 auto;">
            <div class="card-header">NUOVA SCADENZA</div>
            <div class="card-body">
                <partial name="Expiration_Add" model="Model.Expiration" />
            </div>
        </div>
    </div>
</div>