@model PersonalFinanceFrontEnd.Models.Fast_Update_Item





<form asp-action="Fast_Update" style="margin: 0 auto;">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="FU_ID" />

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#conti">Conti correnti e carte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#contanti">Contanti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#ticket">Ticket</a>
            </li>
        </ul>
        <br />
        <br />
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="conti">

            </div>











































            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>Intesa San Paolo</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/intesa-san-paolo.png" alt="Intesa San Paolo" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B1" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B1" class="text-danger"></span>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>N26</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/n26.jpeg" alt="N26" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B2" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B2" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>Illimity</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/illimity.png" alt="Illimity" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B3" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B3" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>PayPal</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/paypal.png" alt="PayPal" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B4" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B4" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>Amazon Pay</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/amazon-pay.jpeg" alt="Amazon Pay" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B5" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B5" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>YAP</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/yap.jpeg" alt="YAP" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B6" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B6" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>American Express</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/american-express.jpeg" alt="American Express" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B7" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B7" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>Satispay</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/satispay.jpeg" alt="Satispay" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B8" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B8" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>Findomestic</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/findomestic.jpeg" alt="Findomestic" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B9" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B9" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                        <div class="card-header"><h5>ING</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/ing.jpeg" alt="ING" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">Saldo attuale (€):</h4>
                                    <input type="number" class="form-control" asp-for="FU_Value_B10" style="background-color: #444">
                                    <span asp-validation-for="FU_Value_B10" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="contanti">
            <div class="col-md-6">
                <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                    <div class="card-header"><h5>Contanti</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/images/contanti.jpeg" alt="Contanti" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Saldo attuale (€):</h4>
                                <input type="number" class="form-control" asp-for="FU_Value_C" style="background-color: #444">
                                <span asp-validation-for="FU_Value_C" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="ticket">
            <div class="col-md-6">
                <div class="card shadow p-3 border-dark mb-3" style="margin: 0 auto;">
                    <div class="card-header"><h5>Ticket Restaurant</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/images/ticket-restaurant.jpeg" alt="Ticket Restaurant" style="margin-top:10px; width:180px; height:60px; border:none;" class="shadow rounded">
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">N° tickets disponibili:</h4>
                                <input type="number" class="form-control" asp-for="FU_Count_T" style="background-color: #444">
                                <span asp-validation-for="FU_Count_T" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




























    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
        <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiorna</button>
    </div>
   
</form>









