@model PersonalFinanceFrontEnd.Models.KnownMovement


<form asp-action="KnownMovement_Edit" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" />
        <div class="form-row">
            <h4>Modifica movimento con ID: @Model.ID</h4>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="KMTitle">Titolo</label>
                <input type="text" class="form-control" asp-for="KMTitle" style="background-color: #444">
                <span asp-validation-for="KMTitle" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label for="recipient-name" class="col-form-label" asp-for="input_value">Importo</label>
                <input type="text" class="form-control" asp-for="input_value" style="background-color: #444">
                <span asp-validation-for="input_value" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label for="recipient-name" class="col-form-label" asp-for="On_Exp">Abilitare scadenze?</label><br />
                <input type="checkbox" class="form-check-input" asp-for="On_Exp" id="flexCheckDefault" style="background-color: #444; border: 1px solid #222;">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="message-text" class="col-form-label" asp-for="KMNote">Note:</label>
                <textarea class="form-control" id="message-text" asp-for="KMNote" style="background-color: #444"></textarea>
            </div>
        </div>
        <input type="hidden" class="form-control" asp-for="Exp_ID" style="background-color: #444">
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiorna</button>
        </div>
    </div>
</form>