@model PersonalFinanceFrontEnd.Models.Transaction


<form asp-action="Transaction_Edit" style="margin: 0 auto;">
    <input type="hidden" asp-for="ID" />
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <label for="recipient-name" class="col-form-label" style="padding-top: 0px; vertical-align: middle">Tipologia Transazione</label>
            </div>
            <div class="col-sm-8">
                <label class="switch">
                    <input type="checkbox" id="togBtn" asp-for="Type">
                    <div class="slider round">
                        <span class="on">Entrata</span>
                        <span class="off">Uscita</span>
                    </div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label for="recipient-name" class="col-form-label" asp-for="TrsTitle">Titolo</label>
                <input type="text" class="form-control" asp-for="TrsTitle" style="background-color: #444">
                <span asp-validation-for="TrsTitle" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label" asp-for="TrsDateTime">Seleziona categoria</label>&nbsp;&nbsp;<span class="material-icons md-24 orange600" style="display: inline-flex; vertical-align: text-bottom; font-size: 18px" data-toggle="tooltip" title="Seleziona una categoria esistente oppure creane una nuova nel campo sotto.">info</span>
                @{
                    var codes = (IEnumerable<SelectListItem>)TempData["Codes"];
                }
                @Html.DropDownList("TrsCode", (List<SelectListItem>)codes, "-- Nessuna --", new { @class = "form-control", type = "button", style = "background-color: #444", placeholder = "Nuova categoria" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label" asp-for="input_value">Importo</label>
                <input type="number" step="0.01" class="form-control" asp-for="input_value" style="background-color: #444" placeholder="€">
                <span asp-validation-for="input_value" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label" asp-for="TrsDateTime">Data inserimento</label>
                <input type="date" class="form-control" id="theDate" asp-for="TrsDateTime" style="background-color: #444">
                <span asp-validation-for="TrsDateTime" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label for="recipient-name" class="col-form-label">Categoria</label>
                <input type="text" class="form-control" asp-for="NewTrsCode" style="background-color: #444" value="" placeholder="Nuova categoria">
                <span asp-validation-for="NewTrsCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="message-text" class="col-form-label" asp-for="TrsNote">Note:</label>
                <textarea class="form-control" id="message-text" asp-for="TrsNote" style="background-color: #444"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiungi</button>
        </div>
    </div>








</form>

<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ 'placement': 'right' });
        });
</script>