@model WeatherReportsFrontEnd.Models.Transaction


<form asp-action="Transaction_Edit" style="margin: 0 auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <input type="hidden" asp-for="ID" />
        <div class="form-row">
            <h4>Modifica credito con ID: @Model.ID</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="TrsCode">Codice Transazione</label>
                <input type="text" class="form-control" asp-for="TrsCode" style="background-color: #444">
                <span asp-validation-for="TrsCode" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="TrsTitle">Titolo</label>
                <input type="text" class="form-control" asp-for="TrsTitle" style="background-color: #444">
                <span asp-validation-for="TrsTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="TrsValue">Importo</label>
                <input type="text" class="form-control" asp-for="TrsValue" placeholder="€" style="background-color: #444">
                <span asp-validation-for="TrsValue" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label for="recipient-name" class="col-form-label" asp-for="TrsDateTime">Data inserimento</label>
                <input type="date" class="form-control" asp-for="TrsDateTime" style="background-color: #444">
                <span asp-validation-for="TrsDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="message-text" class="col-form-label" asp-for="TrsNote">Note:</label>
                <textarea class="form-control" id="message-text" asp-for="TrsNote" style="background-color: #444"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            <button type="submit" class="btn btn-primary" style="background-color: #2574A9">Aggiorna</button>
        </div>
    </div>
</form>